/* parent selector ish */
.slide-viewer:has(.s1-card) {
    margin: 20px 0px;
}

/* Custom Render Function Styles */
.s1-card {
    position:relative;
    width: 100%;
    /* height: 80%; */
    height: 300px;
    /* max-height: 400px; */
    /* min-height: 200px;     */
    cursor: pointer;
    overflow: hidden;

    /* Add some color */
    background-color: orangered;
    /* display: grid; */
    /* place-content: center; */
    color: white;
}

.s1-card:nth-child(even) {
    background-color: #3498DB;
}

.image {
    display: block;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
} 

.s1-card img {
    /* display: block; */
    /* width: 100%; */
    /* height: 100%; */
    /* object-fit: contain; */
}

.small-slides .s1-card {
    width: 100%;
    justify-self: center;
}

.small-slides .slide-group {
    grid-auto-columns: 45%;  
}



